# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*

# Logs
*.log
booking.log
event.log
user.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
event-admin_accessKeys.csv
